@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

*::-webkit-scrollbar {
  width: 0px;  /* Hides the vertical scrollbar */
  height: 0px; /* Hides the horizontal scrollbar */
}

/* For Firefox */
html {
  scrollbar-width: none;  /* Hides scrollbar */
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: none; /* Hides the scrollbar */
}

.label {
  @apply font-semibold;
}

input {
  @apply border-textgray border-1 p-1
}

select {
  @apply border-textgray border-1 p-1
}

textarea {
  @apply border-textgray border-1 p-1
}

@theme {

  --font-poppins: "Poppins", sans-serif;


  --color-primary: #772A92;
  --color-primary-dark: #262042;
  --color-light-background:#e1D0F0;
  --color-sidebar-bg: #262042;
  --color-sidebar-hover: #772A92;
  --color-passive-text: #B1B1B1;
  --color-active-text: #FFFFFF;
  --color-buttonpurple: #772A92;
  --color-bglightpurple: #E2D0F0;
  --color-buttonred: #FF0000;
  --color-textgray: #B1B1B1;
  --color-borderbox-bg: #ececec;

  --color-sidebar-hover:#772A92;
  --color-passive-text:#B1B1B1;
  --color-active-text:#FFFFFF;
  
  --color-green-bg: #3EBB00;

}

